* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "poppins", sans-serif;
}
nav {
  padding: 20px 35px;
  display: flex;

  height: 75px;
  /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
  box-shadow: 0px 3.98356px 7.4564px rgba(0, 0, 0, 0.1);
}
.gray {
  color: grey;
}
.bold {
  font-weight: bold;
}
section {
  padding: 20px;
}
.hero-section {
  display: flex;
  flex-direction: column;
}
.hero-photo {
  max-width: 450px;
  align-self: center;
}
.her-header {
  margin-bottom: 16px;
}
.hero-text {
  margin-top: 0;
}
.card {
  width: 175px;
  font-size: 12px;
  margin: 20px;
}
.card-image1 {
  width: 100px;
  border-radius: 9px;
}
.card-stats {
  display: flex;
  align-items: center;
}
.card-star {
  height: 14px;
}
